@{
    ViewData["Title"] = "Login";
}
@model LoginViewModel

<div class="row" style="min-height: 80vh; display:flex; align-items: center;">

    <div class="col-md-6 offset-md-3 bg-light p-4 rounded shadow">
        @if (!string.IsNullOrEmpty(Model.Message))
        {
            <h4 class="alert-danger">invalid login!</h4>
        }
        <h1>Login!</h1>
        <form method="post" action="/account/login">
            <input type="text" class="form-control" name="email" placeholder="Email" />
            <br />
            <div class="row">
                <div class="col-md-10">
                    <input id="password" type="password" class="form-control" name="password" placeholder="Password" />
                </div>
                <div class="col-md-2">
                    <button type="button" id="eye-button"><i id="eye-icon" class="bi bi-eye-slash"></i></button>
                </div>
            </div>
            <br />
            <button class="btn btn-primary w-100 btn-lg">Login</button>
            <a class="mt-2" href="/account/signup">Don't have an account? Sign up here!</a>
        </form>
    </div>
</div>

@section scripts{
    <script src="~/js/password.js"></script>
}
